*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

.parent{
  margin: 20px;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  color: white;
  float: left;
}

.card img{
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0px;
}

.card button{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}