.header{
    background-color: rgb(31, 131, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.h3{
    color: white;
}

.btn{
    background-color: darkred;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}